@model Stalker.Models.DepartmentModel

@{
    ViewBag.Title = "Создание отдела";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создание отдела</h2>

@using (@Html.BeginForm("CreateDepartment", "Admin"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(l => l.FullName)
        @Html.TextBoxFor(e => e.FullName, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.FullName)
    </div>

    <div class="form-group">
        @Html.LabelFor(l => l.ShortName)
        @Html.TextBoxFor(e => e.ShortName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ShortName)
    </div>

    <div class="form-group">
        @Html.Label("Управление")
        @Html.DropDownListFor(s => s.SelectedManagementId, new SelectList(Model.Managements, "ManagementId", "FullName"), new {@class = "form-control"})
    </div>
    @Html.ActionLink("Отмена", "Departments", "Admin", null, new { @class = "btn btn-default"})
    <button type="submit" class="btn btn-success">Сохранить</button>
}
