@model Stalker.Models.ManagementModel

@{
    ViewBag.Title = "Создание управления";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создание управления</h2>

@using (Html.BeginForm("CreateManagement", "Admin"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(l => l.FullName)
        @Html.TextBoxFor(t => t.FullName, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.FullName)
    </div>

    <div class="form-group">
        @Html.LabelFor(l => l.ShortName)
        @Html.TextBoxFor(t => t.ShortName, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.ShortName)
    </div>
    @Html.ActionLink("Отмена", "Managements", "Admin", null, new { @class = "btn btn-default"})
    <button class="btn btn-success" type="submit">Сохранить</button>
}