@model Stalker.Models.ResetPasswordModel

@{
    ViewBag.Title = "Измение пароля пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="col-xs-4">
        <div class="h2">Изменить пароль</div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword) <br>
            @Html.EditorFor(model => model.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword) <br>
            @Html.EditorFor(model => model.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <input type="submit" value="Изменить пароль" class="btn btn-primary" />
    </div>  
}






